.slider{
   position: relative; 
   width: 100%;
   margin: auto;
   overflow: hidden;
}

.slides img{
    width: 100%;
    height: 100vh;
    display: none;
}

.slides .displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    padding: 10px 15px;
    color: white;
    background-color: rgb(127, 152, 174);
    border: none;
    cursor: pointer;
}

.prev{
    left: 0;
}

.nextSlide{
    right: 0;
    
}

@keyframes fade {
    from {opacity: .5;}
    to {opacity: 1;}
}